.sidebar {
  width: 210px;
  background: #f5f4f4;
  color: rgb(56, 55, 55);
  height: 100vh;
  padding: 20px;
  position: fixed;
}

.sidebar-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 25px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  padding: 18px 2px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar ul li svg {
  margin-right: 10px;
}

.sidebar ul li:hover {
  background: #d2d3d3;
  border-radius: 8px;
}
