.sidebar {
  width: 210px;
  background: #f5f4f4;
  color: rgb(56, 55, 55);
  height: 100vh;
  padding: 15px;
  position: fixed;
  top:80px;
}

.sidebar-title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 12px;
  margin-left: 16px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  padding: 15px 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar ul li svg {
  margin-right: 10px;
}

.sidebar ul li:hover {
  background: #d2d3d3;
  border-radius: 8px;
}
.admin-black{
    background-color: black;
    color: white;

}
