.sidebar {
  width: 230px;
  background: #2196f3;
  color: white;
  height: 100vh;
  padding: 20px;
  position: fixed;
}

.sidebar-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 25px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  padding: 10px 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar ul li svg {
  margin-right: 10px;
}

.sidebar ul li:hover {
  background: #1976d2;
  border-radius: 8px;
}
