.admin-lifecycle-tracking {
  background: #f8fbff;
  padding: 30px;
  min-height: 100vh;
}

.admin-tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.admin-tab-btn {
  background: #e4eaf2;
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
}

.admin-tab-btn.active {
  background: #1976d2;
  color: white;
}

.admin-filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.admin-filters input[type="text"] {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.admin-date-range-inline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
  margin-top: 5px;
}

.admin-date-inputs{
    display: flex;
    align-items: center;
    gap: 10px;
}

.admin-date-range-inline label {
  font-weight: 500;
  color: #333;
}

.admin-date-range-inline input[type="date"] {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  width: 180px;
}

.admin-date-range-inline span {
  font-weight: 500;
  color: #333;
}

.admin-student-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.admin-student-card {
  background: white;
  width: 90%;
  max-width: 420px;
  border-radius: 16px;
  padding: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
}

.admin-student-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-status-tag {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}

.admin-status-tag.verified {
  background: #e5f7eb;
  color: #2e7d32;
}

.admin-status-tag.unverified {
  background: #fff4e5;
  color: #e65100;
}

.admin-verify-btn {
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
}

.admin-verified-btn {
  background: #e5f7eb;
  color: #2e7d32;
  border: 1px solid #2e7d32;
  border-radius: 8px;
  padding: 8px 16px;
  width: 100%;
  margin-top: 10px;
  cursor: not-allowed;
}

.admin-empty-state {
  margin-top: 50px;
  text-align: center;
  color: #777;
}

.admin-empty-state .icon {
  font-size: 40px;
  margin-bottom: 10px;
}

