.student-dashboard {
  display: flex;
  min-height: 100vh;
  background: #f7f7f7;
  font-family: "Poppins", sans-serif;
  color: #111;
}


.student-dashboard-sidebar {
  width: 250px;
  position: fixed;
  top: 70px;
  left: 0;
  bottom: 0;
  background: #111;
  color: #fff;
  padding: 20px 15px;
  transition: all 0.3s ease-in-out;
  overflow-y: auto;
  z-index: 10;
}


.student-dashboard-content {
  flex: 1;
  margin-left: 250px;
  padding: 90px 30px 30px; 
  transition: all 0.3s ease-in-out;
}

.student-dashboard-content h2 {
  font-size: 2.5rem;
  color: rgb(202, 55, 2);
  margin-bottom: 25px;
  text-align: center;
  font-weight: 600;
}


.student-status-card {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 100px 100px 100px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}

.student-status-card h3 {
  font-size: 35px;
  color: black;
  margin-bottom: 15px;
}


.student-glass-effect {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}


.student-status-text {
  font-size: 30px;
  font-weight: 600;
  margin-top: 15px;
  text-transform: capitalize;
  transition: color 0.3s ease;
}


.student-status-text.present {
  color: #22c55e; 
}

.student-status-text.absent {
  color: #ef4444; 
}

.student-status-text.on-leave,
.student-status-text.leave {
  color: #3b82f6;
}

.student-status-text.kitchen-turn {
  color:#f59e0b
}

.student-status-text.no-status-yet,
.student-status-text.loading {
  color: #6b7280;
}

.student-status-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.student-status-text.present {
  animation: glowGreen 2s infinite alternate;
}

@keyframes glowGreen {
  0% {
    text-shadow: 0 0 5px #16cb58;
  }
  100% {
    text-shadow: 0 0 15px #0ad253;
  }
}


@media (max-width: 992px) {
  .student-dashboard-sidebar {
    width: 200px;
  }

  .student-dashboard-content {
    margin-left: 200px;
    padding: 80px 20px;
  }

  .student-status-card {
    max-width: 350px;
  }

  .student-dashboard-content h2 {
    font-size: 24px;
  }
}


@media (max-width: 768px) {
  .student-dashboard {
    flex-direction: column;
  }

  .student-dashboard-sidebar {
    position: relative;
    width: 100%;
    top: 0;
    background: #111;
    text-align: center;
  }

  .student-dashboard-content {
    margin-left: 0px;
    padding: 80px 15px 20px;
  }

  .student-status-card {
    padding: 100px 20px;
  }

  .student-dashboard-content h2 {
    font-size: 22px;
  }

  .student-status-text {
    font-size: 18px;
  }
}


@media (max-width: 480px) {
  .student-status-card {
    padding: 20px 10px;
  }

  .student-status-text {
    font-size: 16px;
  }

}

