.myleaves-container {
  width: 100%;
  text-align: center;
  margin: 6rem auto;
  padding: 0.5rem 2rem;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
  color: #222;
}

.myleaves .leave-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.myleaves .leave-card {
  display: flex;
  background: #f9f9f9;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 10px;
}

.myleaves .status-approved {
  color: green;
  font-weight: bold;
}

.myleaves .status-rejected {
  color: red;
  font-weight: bold;
}

.myleaves .status-pending {
  color: orange;
  font-weight: bold;
}
